<header class="header">

    <nav class="nav container">

        <div class="nav__data">

            <a href="#" class="nav__logo">
                <i class="ri-code-s-slash-fill"></i> Dhananjay_07
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__toggle-menu"></i>
                <i class="ri-close-line nav__toggle-close"></i>
            </div>

        </div>

        <!-- NAV MENU -->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">Home</a>
                </li>

                <!-- DROPDOWN 1 -->
                <li class="dropdown__item">
                    <div class="nav__link dropdown__button">
                       Services  <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-code-line"></i>
                                </div>
                                <span class="dropdown__title">
                                    Software Development
                                </span>
                                
                                <ul class="dropdown__list"> 
                                    <li>
                                        <a href="#" class="dropdown__link">Web Applications</a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__link">Mobile Apps</a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__link">Custom Software</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-tools-line"></i>
                                </div>
                                <span class="dropdown__title">
                                    Hardware & Repairs
                                </span>
                                
                                <ul class="dropdown__list"> 
                                    <li>
                                        <a href="#" class="dropdown__link">Laptop Repair</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Desktop Maintenance</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Hardware Upgrades</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- DROPDOWN 2 -->
                <li class="dropdown__item">
                    <div class="nav__link dropdown__button">
                       Resources <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">

                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-book-open-line"></i>
                                </div>
                                <span class="dropdown__title">
                                    Learning Hub
                                </span>
                                
                                <ul class="dropdown__list"> 
                                    <li>
                                        <a href="#" class="dropdown__link">Tech Blogs</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Repair Guides</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Coding Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
                <!-- DROPDOWN 3 -->
                <li class="dropdown__item">
                    <div class="nav__link dropdown__button">
                       Contact <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <div class="dropdown__container">
                        <div class="dropdown__content">
                            <div class="dropdown__group">
                                <div class="dropdown__icon">
                                    <i class="ri-mail-line"></i>
                                </div>
                                <span class="dropdown__title">
                                    Get in Touch
                                </span>
                                
                                <ul class="dropdown__list"> 
                                    <li>
                                        <a href="#" class="dropdown__link">Support</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Business Inquiries</a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown__link">Careers</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
